
<f:layout name="SiteLayout" />
<f:section name="main">
    <div id="site_content" class="row">

        <div id="content" class="col-lg-8">
            <!-- insert the page content here -->
            <!--<h1><f:cObject typoscriptObjectPath="lib.siteTitle" /></h1>-->
            <f:cObject typoscriptObjectPath="lib.content" data="{colPos: 0}" />
        </div>
        <aside class="col-lg-4">
            <div class="sidebar">
                <!-- insert your sidebar items here -->
                <f:cObject typoscriptObjectPath="lib.content" data="{colPos: 2}" />
            </div>
        </aside>
    </div>
</f:section>


